<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quizzy</title>
    <link rel="stylesheet" th:href="@{/search.css}">
</head>
<body>

<header class="header">
    <div class="container">
        <div class="logo">
            <h3>Search Results for: <span th:text="${searchFor}"></span></h3>
        </div>
        <nav class="navigation">
            <ul>
                <li><a th:href="@{/feedPage/{id}(id=${playerId})}">Home Page</a></li>
                <li><a th:href="@{/userStats/{id}(id=${playerId})}">Your Stats</a></li>
                <li><a th:href="@{/makeQuiz/{id}(id=${playerId})}">Create Quiz</a></li>
                <li><a th:href="@{/listQuiz/{id}(id=${playerId})}">My Quizzes</a></li>
                <li>
                    <form class="search-form" th:action="@{/search}"  th:object="${search}" method="post">
                        <input type="hidden" th:value="${playerId}" name="id">
                        <input type="text" th:field="*{name}" placeholder="Search..." required>
                        <button type="submit">Search</button>
                    </form>
                </li>
            </ul>
        </nav>
        <a th:href="@{/login}" ><button class="logout-button">Logout</button></a>
    </div>
</header>

<main>
    <div class="player-stats" th:if="${switch != null}">
        <a class="player-stats-link" th:text="${searchUserInfo.email}" th:href="@{/otherUserStats/{id}(id=${searchUserInfo.getId()}, userInfo=${playerId})}"></a>
    </div>
<table class="styled-table">
    <thead>
    <tr>
        <th>Author</th>
        <th>Quiz Name</th>
        <th>Play</th>
    </tr>
    </thead>
    <tbody>
    <tr class="active-row" th:each="quiz : ${quizInfo}">
        <td th:text="${quiz.getOwnerEmail()}"></td>
        <td th:text="${quiz.name}"></td>
        <td><a th:href="@{/play/{id}(id=${quiz.id}, playerId=${playerId})}" class="button-link">Play</a></td>

    </tr>
    </tbody>
</table>
</main>
<footer class="footer">
    <div class="container">
        <p>&copy; 2024 Quizzy. All rights reserved.</p>
    </div>
</footer>

</body>
</html>
